.header {
  display: flex;
  flex-direction: row;
  background-color: #fffbfb;
  color: rgb(0, 0, 0);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 70px;
}

.navul {
  list-style: none;
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.nav ul li {
  margin-left: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: royalblue;
}

.li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons {
  height: 30px;
  font-size: 2rem;
}

/* For devices with a maximum width of 320px */
@media (max-width: 525px) {
  .header{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 85vw;
  }
  .header .logo img {
      height: 27px;
  }
  .header .navul li{
      font-size: 6px;
      margin: 15px;
      position: relative;
      right: 35px;
      bottom: 20px;
  }
  .icons{
    font-size: 0.8rem;
  }
  nav ul li {
      margin: 5px 0;
  }
}