
.nav{
  display: flex;
  background-color: white;
  width: 95vw;
  height: 14vh;
  justify-content: space-between;
  padding: 30px;
}
.nav img {
  height: 70px;
}

.navul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

li:hover {
  color: royalblue;
}
/* For devices with a maximum width of 320px */
@media (max-width: 525px) {
  .nav{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 85vw;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .nav img {
      height: 47px;
  }
  .navul{
      height: 30vh;
      width: 100vw;
      font-size: 14px;
      display: flex;
      justify-content: center;
      gap: 50px;
      position: relative;
      right: 30px;
      top: 20px;
  }
  .navul li{
    height: 10vw;
  }
  .navul li:hover{
    color: royalblue;
  }
}
@media (max-width: 1024px) {
  .nav{
    display: flex;
    background-color: white;
    width:92.8vw;
    height: 14vh;
    justify-content: space-between;
    padding: 30px;
    font-size:0.8rem;
  }
  .nav img {
    height: 70px;
  }
  
  .navul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
  }
  
  li:hover {
    color: royalblue
  }
}