.hanger{
    width: 98vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
}
.hanger p{
  font-size: 1rem;
}
.item{
    height: 50px;
    cursor: pointer;
}
.item:hover{
    color: #ec0c8c;
    border-bottom: solid #ec0c8c 1px;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: beige;
    width: 98.6vw;
}
  
  .carousel-button {
    color: aliceblue;
    background-color: red;
    height: 60px;
    width: 260px;
    font-size: 2rem;
    border: none;
  }
  
  .carousel-text {
    font-size: 18px;
    padding: 0 20px; 
    text-align: center; 
  }
/* For Extra Small Devices (Mobile: 320px) */
@media (min-width: 525) {
  .hanger {
      flex-direction: row;
      text-align: left;
      width: 108vw;
  }
  .carousel {
      flex-direction: column; /* Stack carousel items vertically */
      align-items: flex-start; /* Align items to the start */
  }
  .carousel-button {
      width: 100%; /* Full width button */
      font-size: 1.5rem; /* Smaller font size */
  }
  .carousel-text {
      font-size: 14px; /* Smaller text size */
      padding: 10px; /* Reduced padding */
  }
}