.hanger{
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
}
.hanger p{
  font-size: 1rem;
}
.item{
    height: 50px;
    cursor: pointer;
}
.item:hover{
    color: #ec0c8c;
    border-bottom: solid #ec0c8c 1px;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: beige;
    width: 98.6vw;
}
  
  .carousel-button {
    color: aliceblue;
    background-color: red;
    height: 60px;
    width: 260px;
    font-size: 2rem;
    border: none;
  }
  
  .carousel-text {
    font-size: 18px;
    padding: 0 20px; 
    text-align: center; 
  }
@media (max-width: 525px) {
  .hanger {
    width: 1;
    height: 20vh;
    overflow: hidden;
  }
  .hanger .item{
    padding: 14px;
  }
  .hanger p{
    font-size: 0.6rem;
  }
  .carousel {
    height: 10vh;
  }
  .carousel-button {
      width: 10%;
      font-size: 1rem;
      height: 100%;
  }
  .carousel-text {
      font-size: 10px;
      padding: 10px;
  }
}
@media (max-width: 1024px) {
  .hanger {
    width: 1;
    height: 20vh;
    width: 98.7vw;
    overflow: hidden;
  }
  .hanger .item{
    padding: 14px;
  }
  .hanger p{
    font-size: 0.6rem;
  }
  .carousel {
    height: 10vh;
  }
  .carousel-button {
      width: 10%;
      font-size: 1rem;
      height: 100%;
  }
  .carousel-text {
      font-size: 10px;
      padding: 10px;
  }
}